<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_writers_LinkedIdentity</key>
	<array>
		<string>portable</string>
	</array>
	<key>_writers_UserCertificate</key>
	<array>
		<string>portable</string>
	</array>
	<key>_writers_hint</key>
	<array>
		<string>portable</string>
	</array>
	<key>_writers_jpegphoto</key>
	<array>
		<string>portable</string>
	</array>
	<key>_writers_passwd</key>
	<array>
		<string>portable</string>
	</array>
	<key>_writers_picture</key>
	<array>
		<string>portable</string>
	</array>
	<key>_writers_realname</key>
	<array>
		<string>portable</string>
	</array>
	<key>authentication_authority</key>
	<array>
		<string>;ShadowHash;</string>
		<string>;Kerberosv5;;portable@LKDC:SHA1.B5CCF28DDA35CC0B86AD0DF09E6FBDF38D522094;LKDC:SHA1.B5CCF28DDA35CC0B86AD0DF09E6FBDF38D522094;</string>
	</array>
	<key>generateduid</key>
	<array>
		<string>F6F7771F-7C32-48F8-B5B0-54707E0B2B32</string>
	</array>
	<key>gid</key>
	<array>
		<string>20</string>
	</array>
	<key>hint</key>
	<array/>
	<key>home</key>
	<array>
		<string>/Users/portable</string>
	</array>
	<key>jpegphoto</key>
	<array>
		<data>
		/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAQICAgICAgIDAwYEAwMD
		AwcFBQQGCAcICAgHCAgJCg0LCQkMCggICw8LDA0ODg4OCQsQEQ8OEQ0ODg7/
		2wBDAQICAgMDAwYEBAYOCQgJDg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4O
		Dg4ODg4ODg4ODg4ODg4ODg4ODg4ODg7/wAARCAAwADADASIAAhEBAxEB/8QA
		HwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUF
		BAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkK
		FhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1
		dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXG
		x8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEB
		AQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAEC
		AxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRom
		JygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOE
		hYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU
		1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9CtP0+1t5
		pkttI0OW6IJE0VvDuUZ6DCkFsEL8zZGc9DxJ5zW80ry2lkbtBiZYYQ20KD8s
		UceWyRhvvYzg5zVlpre+s1UErpUl07xrfS+UJ2JJ8pYsgBWOepIOO+a5m1kX
		UIUtJLRrmFpCkhmBQKGUNtEUWFUEAEbjjrjHNacpNxbOSO2uhFJa25ikgIle
		cwmaRwMgsu95AMlAMMevPAzUEM4i0SWCytt8xCzxXK28sodioJ+aKJdw5X5R
		8pUnk5pZtMt2a7cTahIqndD/AGdF9izyHCF4lXcq4xvZvUYPOcC2R0ufs7vZ
		+ba+XsRblL5GXdlioCzEbcdATn24yWFc3nlQwzxzRSTJEwlj2wXgWXOBx8r5
		QED5cHAHasiO8s5INSjktLO2062VQfNljS3Y4IDB57cAsTnJ5PO3A7R60vhc
		29lYzalq9rcxjzomt/Dv7u4CHEmzyo43wQAcg5BYYOSCa9vbaVqepw6FH4li
		uZIJV8q2W4uLKRFycMRPvViAQPmU9BuwQTSaGdLayQa7rC+IBbtZwLdeV4dd
		gcQqW3yS4LLuYkZWTrtyuADx0N3cBI5J7dbePTbKNknkkuGdQ6EfJsyAcjHG
		eWO3B5ry3wXqtnf/AAVt1FnbzP4V1R/7Yt/JQu0BDJJIiZ3KUGcHOR6DgVak
		n1F/h3r/AISl1nT9GvEkF54f1C5mAtbu3EhZIgyggPuEoLfeB5wM7RV9Q6HY
		Xz3Y1K20wzQahq95mXTbRSBEqIoBYheqgnH3epUYwc1ganYwr4dvpXv717Ro
		Ug3Wt5JF+8VX58mIMQRycMQWIPTFc7q3iG+ufF2j63p+pJ4K+IOi2jafcaNr
		lyIIdThRtxk837oZ+cZ3BwBkgqDUml6pqllI97B4H1rw2twuLmzGq2c9sxY5
		ZMSHKJlXyzE/MW46VVxWOckbwPHbWcFx4k0vT9Qk3LBLrFtqdj5y4UFN5cjJ
		4DHBU8Ajjh8kXiC0mt9B1GGCxuLwiC1s9WuI7/Tb1QcDyNRC5jfaQpUqpG1j
		vHBHT3Nxomq2Opade2mnXA1BZIo7CbUxevHJtRdsZZm8oogyHA25JK579C1p
		b3Xgi30HW7Cz0vwxZQyie1MRzIxTCMke5WV0Ku/mcchiD85FJoEeU6vGmvfE
		GXXLDWJ/hf8AFKK4jgvbHU5XFjqJC4XjaFiLBSpyCr5bJyc0+PVr2weWw8Ya
		Rd+EJJz+/lFul7oG8McBIYnZYX3ZUvBID1JTjmzrV9qtz8Kpj4y0zTvit4Ti
		hD6drETtFqdmzFjiRXTzUwN22Q5UYUEEEE8DpWq+DtI1KKXw/wCL/G3hOIyb
		7i01Cw+3xTNjH74xCPfkdijr8vqKQz0qXxjoa6Dpuiy6n4e1XTnQtZtqDR3V
		mykDEafalV1Y7tvEh5yp6VDqlpo91JHILXwCsUDRv9hkmRfnYnfEWW7MeeSQ
		AAxJ461jjXZLzbOs3w38W6Tcx/aIYrzQZIIrVt5ysW22DxgZDMpDEMDnGK1b
		TQb60SGa38O/B+0tYpZJ0LwSAytuBjYxbm+YpjkK4Yqdv90UhMt2mu6Np7Mk
		dzothHKjGI6fAoDeYR5ZyWZjsG0MBIAQQMY4HR2cl1NdS29vZXOnWsBiLaxd
		YhWQyRtuAVhkhipO4EkHk4DEHnWll0rREhHiHwPoyo8kyQaHpD3TLIyj94GK
		oEGSeMEDK5zjlNOl0Ge4iuI59e1PVZpDNDc6sXW3XkYJjDPvXbj5TgjgleuK
		Qj//2Q==
		</data>
	</array>
	<key>name</key>
	<array>
		<string>portable</string>
	</array>
	<key>passwd</key>
	<array>
		<string>********</string>
	</array>
	<key>picture</key>
	<array>
		<string>/Library/User Pictures/Animals/Butterfly.tif</string>
	</array>
	<key>realname</key>
	<array>
		<string>portable</string>
	</array>
	<key>shell</key>
	<array>
		<string>/bin/bash</string>
	</array>
	<key>uid</key>
	<array>
		<string>501</string>
	</array>
</dict>
</plist>
