.exemple {
	background-color: #e2f9f1;
	font-size: 12px;
}

.exemple h1 {
	text-align: center;
}
.exemple img {
	width: 190px;
}

.textarea, .result-area {
	height: 50vh;
	width: 50vh;
}
textarea, .textarea {
	height: 50vh;
}

.exemple .moustique {
	x-transition: all 1s ease-in-out;
	animation: rainbow 1s infinite;
}
.exemple .ecureuille {
	x-transition: all 2s ease-in-out;
	animation: rainbow 2s infinite;
}
@keyframes rainbow {
	0%{color: orange;}	
	10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

.exemple .squirrel {
	x-transition: all 1s ease-in-out;
	animation: jump 4s infinite;
}

@keyframes jump {
	0% {
		margin-left: 19px;
	}
	33% {
		margin-top: 300px;
		margin-left: 200px;
	}
	66% {
		margin-top: 100px;
		margin-left: 400px;
	}
	100% {
		margin-left: 19px;
	}
}

.exemple .squirrellette {
	x-transition: all 1s ease-in-out;
	animation: jumpette 4s infinite;
}

@keyframes jumpette {
	0% {
		margin-left: 0px;
	}
	33% {
		margin-top: 0px;
		margin-left: 20px;
	}
	66% {
		margin-top: 100px;
		margin-left: 400px;
	}
	100% {
		margin-left: 0px;
	}
}

.footer {
	position: absolute;
	bottom: 0;
}